.work-card {
  background-color: var(--card-bg-clr);
  border-radius: 2rem;
  overflow: hidden;
  border: 2px solid var(--border-clr);

  &:has(.site-image) {
    height: 32rem;
    display: grid;
    grid-template-columns: 2fr 1.35fr;
    @media (max-width: 767px) {
      height: auto;
      grid-template-columns: 1fr;
    }
  }

  .info {
    padding: 2.5rem 3.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 767px) {
      padding: 1rem 1.75rem;
    }

    .logo {
      width: 4rem;
      height: 4rem;
      margin-bottom: 1rem;
      @media (max-width: 767px) {
        width: 2rem;
        height: 2rem;
      }
    }

    .title {
      margin: 0 0 1rem 0;
    }

    .site-link {
      color: var(--heading-clr);
      font-size: var(--fs-275);
      font-weight: var(--fw-medium);
      display: flex;
      gap: .5rem;
      align-items: center;
      width: fit-content;

      &:hover {
        .right-arrow {
          transform: translateX(.5rem);
          transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        }
      }

      .right-arrow {
        transform: translateX(0);
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }

  .image {
    position: relative;
    opacity: 0;
    transform: translateX(60px);
    transition: opacity 0.7s cubic-bezier(0.4, 0, 0.2, 1),
      transform 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    @media (max-width: 767px) {
      margin: auto;
    }

    &.slide-in {
      opacity: 1;
      transform: translateX(0);
    }

    .laptop-placeholder {
      position: absolute;
      max-width: unset;
      height: 24.5rem;
      top: 3.75rem;
      @media (max-width: 767px) {
        position: static;
        height: 12rem;
        top: .75rem;
      }
    }

    .site-image {
      position: absolute;
      height: 20.3125rem;
      top: 4.875rem;
      left: 4.875rem;
      max-width: unset;
      @media (max-width: 767px) {
        height: 9.5rem;
        top: .5rem;
        left: 2.4rem;
      }
    }
  }
}
