.work-card {
  background-color: var(--work-card-bg-clr);
  border-radius: 2rem;
  overflow: hidden;
  border: 2px solid var(--border-clr);

  &:has(.site-image) {
    height: 32rem;
    display: grid;
    grid-template-columns: 2fr 1.35fr;
  }

  .info {
    padding: 2.5rem 3.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .logo {
      width: 4rem;
      height: 4rem;
      margin-bottom: 1rem;
    }

    .title {
      margin-bottom: 1rem;
    }

    .site-link {
      color: var(--heading-clr);
      font-size: var(--fs-275);
      font-weight: var(--fw-medium);
      display: flex;
      gap: .5rem;
      align-items: center;
      width: fit-content;

      &:hover {
        .right-arrow {
          transform: translateX(.5rem);
          transition: transform 300ms;
        }
      }
    }
  }

  .image {
    position: relative;

    .laptop-placeholder {
      position: absolute;
      max-width: unset;
      height: 24.5rem;
      top: 3.75rem;
    }

    .site-image {
      position: absolute;
      height: 20.3125rem;
      top: 4.875rem;
      left: 4.875rem;
      max-width: unset;
    }
  }
}
