header {
  position: relative;

  .main-header {
    height: 3.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    position: relative;
    z-index: 100;
    background-color: var( --header-bg-clr);
    border-radius: .25rem;
  
    .header-item-container {
      display: flex;
      align-items: center;
  
      .navbar {
        margin-inline: 2.5rem;
        position: relative;
  
        ul {
          display: flex;
          gap: 2.5rem;

          li {
            cursor: pointer;
            user-select: none;
            display: flex;
            align-items: center;

            .link-arrow-down {
              transition: transform 300ms;
            }

            .link-arrow-up {
              transform: rotate(180deg);
              transition: transform 300ms;
            }
          }
        }

        .extra-nav-menu {
          position: absolute;
          padding: 1rem 1.5rem;
          top: 2.5rem;
          right: -4.625rem;
          background-color: var( --header-bg-clr);
          border-radius: 0 0 .75rem .75rem;

          &.collapsed {
            display: none;
          }
        }
      }

      .social-handle {
        display: flex;
        gap: 1.5rem;
      }

      .separator {
        height: 1.5rem;
        width: 2px;
        background-color: var(--list-item-clr);
        border-radius: 50%;
        margin-inline: 1.5rem; 
        opacity: .25;
      }

      .theme-controller {
        cursor: pointer;
      }
    }
  }

  .background {
    .ellipse {
      position: absolute;
      user-select: none;
      -webkit-user-select: none;
    }
    
    .ellipse-1 {
      left: -191px;
      top: -44px;
      z-index: -3;
    }
  
    .ellipse-2 {
      left: 0;
      top: -138px;
      z-index: -2;
    }

    .ellipse-3 {
      left: 179px;
      top: -111px;
      z-index: -1;
    }
  }
}
