header {
  position: relative;

  .main-header {
    height: 3.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    position: relative;
    z-index: 100;
    background-color: var( --header-bg-clr);
    border-radius: .25rem;
  
    .header-item-container {
      display: flex;
      align-items: center;
  
      .navbar {
        margin-inline: 2.5rem;
  
        ul {
          display: flex;
          gap: 2.5rem;
        }
      }

      .social-handle {
        display: flex;
        gap: 1.5rem;
      }

      .separator {
        height: 1.5rem;
        width: 2px;
        background-color: var(--list-item-clr);
        border-radius: 50%;
        margin-inline: 1.5rem; 
        opacity: .25;
      }

      .theme-controler {
        cursor: pointer;
      }
    }
  }

  .background {
    .ellipse {
      position: absolute;
    }
    
    .ellipse-1 {
      left: -191px;
      top: -44px;
      z-index: 1;
    }
  
    .ellipse-2 {
      left: 0;
      top: -138px;
      z-index:2;
    }

    .ellipse-3 {
      left: 179px;
      top: -111px;
      z-index: 3;
    }
  }
}
