.homepage {
  .hp-about {
    margin-top: calc(((100dvh - 5.75rem - 23.375rem) / 2) - 4rem);
    margin-bottom: calc(((100dvh - 5.75rem - 23.375rem) / 2) + 4rem);

    .title > span {
      color: var(--clr-neutral-800);
    }

    .body {
      font-size: var(--fs-400);
      width: 47rem;
      margin-block: 3rem;
    }

    .btn-group {
      display: flex;
      gap: 1rem;
    }
  }

  .hp-work {
    .title {
      margin-bottom: 2rem;
    }

    .work-experience {
      .title {
        margin-bottom: 1rem;
      }
    }

    .personal-projects {
      .title {
        margin-bottom: 1rem;
      }
    }
  }
}
