.tech-stack-page {
  .title {
    margin: 11.625rem 0 .5rem;
  }

  .subtitle {
    font-size: var(--fs-400);
    margin-bottom: 4.625rem;
  }

  .tech-list-container {
    margin-block: 4.625rem;
    
    .tech-list {
      .tech-list-title {
        margin: 3.5rem 0 1.5rem 0;
      }
  
      .tech-card-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    
      }
    }
  }
}
