.work-page {
  .title {
    margin: 11.625rem 0 .5rem;
  }

  .subtitle {
    font-size: var(--fs-400);
    margin-bottom: 4.625rem;
  }

  .work-list {
    margin-block: 4.625rem;

    .work-list-title {
      margin: 3.5rem 0 1.5rem 0;
    }
  }
}
