@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  /* css variables */

  /** font-family **/
  --ff-primary: "Inter", sans-serif;

  /** font size **/
  --fs-100: 0.625rem;
  --fs-125: 0.6875rem;
  --fs-150: 0.75rem;
  --fs-200: 0.875rem;
  --fs-225: 0.9375rem;
  --fs-250: 1rem;
  --fs-275: 1.125rem;
  --fs-300: 1.25rem;
  --fs-400: 1.5rem;
  --fs-500: 2rem;
  --fs-600: 2.5rem;
  --fs-700: 3rem;
  --fs-800: 3.75rem;
  --fs-900: 5rem;

  /** font weight **/
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;

  /** color **/
  --clr-neutral-100: #fff;
  --clr-neutral-300: #C5C5C5;
  --clr-neutral-800: #808080;
  --clr-neutral-850: #181818;
  --clr-neutral-900: #000;

  --clr-black-25: rgba(0,0,0,.25);

  --clr-white-25: rgba(255,255,255,.25);

  --text-clr: var(--clr-neutral-800);
}

/* css reset */
*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
  padding: 0;
}

img, picture, svg, video, canvas {
  display: block;
  max-width: 100%;
}

button {
  font-family: inherit;
}

input, textarea {
  font-family: inherit;
}

/* light and dark mode colors */
:root:has(#light-mode) {
  --bg-clr: var(--clr-neutral-100);
  --header-bg-clr: var(--clr-white-25);
  --heading-clr: var(--clr-neutral-850);
  --list-item-clr: var(--clr-neutral-850);
}

:root:has(#dark-mode) {
  --bg-clr: var(--clr-neutral-900);
  --header-bg-clr: var(--clr-black-25);
  --heading-clr: var(--clr-neutral-100);
  --list-item-clr: var(--clr-neutral-300);
}

/* general styling */
body {
  font-family: var(--ff-primary);
  font-optical-sizing: auto;
  font-style: normal;
  font-size: var(--fs-225);
  background-color: var(--bg-clr);
  color: var(--text-clr);
  transition: background-color 300ms, color 300ms;
}

h1 {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
  color: var(--heading-clr);
}

h2 {
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
  color: var(--heading-clr);
}

h3 {
  font-size: var(--fs-300);
  font-weight: var(--fw-extra-bold);
  color: var(--heading-clr);
}

ul li {
  color: var(--list-item-clr);
}

@media (min-width: 48rem) {
  body {
    font-size: var(--fs-250);
  }

  h1 {
    font-size: var(--fs-900);
  }

  h2 {
    font-size: var(--fs-700);
  }

  h3 {
    font-size: var(--fs-500);
  }
}

/* utility */
.container {
  margin-inline: 1rem;
}

@media (min-width: 48rem) {
  .container {
    max-width: 68rem;
    margin: auto;
    padding-inline: 2rem;
  }
}
